


<!-- <div class="well">
<a href="https://twitter.com/AiCentreDK?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @AiCentreDK</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/intent/tweet?screen_name=AiCentreDK&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @AiCentreDK</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" data-height="600" data-theme="light" href="https://twitter.com/AiCentreDK?ref_src=twsrc%5Etfw">Tweets by AiCentreDK</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div> -->
